.box {
    h2, p {
        font-size: 20px;
    }
}

$max_mobile: "max-width: 575px";
@media ($max_mobile) {
    .box {
        h2, p {
            font-size: 16px;
            span {
                font-weight: bold;
            }
        }
    }
}